@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import './generic.css';

.topnav a.topnav-idea{
  float: left;
  width: 60px;
  background-color: var(--greencolor-color);
  box-shadow: 2px 2px 20px var(--greencolor-color);
  transition: box-shadow 1s ease;
}

.topnav a.topnav-about{
  float: right;
  width: 60px;
  box-shadow: 0px 0px 10px var(--whitelfcolor-color), 0px 0px 10px var(--whitelbcolor-color);
  transition: box-shadow 1s ease;
}

.topnav a:hover{
  background-color: rgb(126, 126, 126);
  box-shadow: 0px 0px 50px var(--whitelfcolor-color), 0px 0px 100px var(--whitelbcolor-color);
  transition: box-shadow 1s ease;
}