// Styling scss for Input.js
@import './Styles.module.scss';

.navlist{
    display: inline-block;
    justify-content: center;
}

.navlist button, input{
    @include font-styling;
    font-size: 20px;
}

.leftside{
    @include border-left;
    @include box-shading;
    font-weight: bold;
    width: 400px;
    height: 32px;
    transition: box-shadow 1s ease;
    &:focus{
        outline: none !important;
        border: 2px solid $pressedcolor;
        box-shadow: 0px 0px 15px $pressedcolor, 0px 0px 50px $presseddullercolor;
    }
}

.rightside{
    @include border-right;
    @include box-shading;
    @include interactive;
    height: 38px;
    border: none;
}


@media (max-width: $changelooksmall){
    .leftside{
        @include border-main;
        width: 97%;
    }
    .rightside{
        @include border-main;
        margin: 15px;
    }
}

