// Styling scss for Input.js
@import './Styles.module.scss';

input{
    @include font-styling;
    font-size: 20px;
}

.navList{
    @include box-shading;
    display: inline-block;
}

.leftSide{
    @include border-left;
    font-weight: bold;
    height: 32px;
}

.rightSide{
    @include border-right;
    @include interactive;
    height: 38px;
}
