// Generic scss file for styling the various objects throughout the project
// Intended to be used with the scss of various other react components
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

/*basic colors to be used throughout web page*/
$background: rgb(48, 48, 48);
$background-transparent: rgba(48, 48, 48, 0.5);

$shadowfront: #fff;
$shadowback: #ccc;
$baseinteractivecolor: rgb(48, 48, 48);
$oninteractivecolor: rgb(126, 126, 126);

$pressedcolor: rgb(0, 200, 0);
$presseddullercolor: rgb(0, 126, 0);

/*change the look of some objects at a screen size smaller than 550px*/
$changelooksmall: 550px;

/*change the look of some objects at a screen size smaller than 900px*/
$changelooklarge: 900px;

/*basic font styling to be used throughout web page*/
@mixin font-styling{
    font-family: 'Inconsolata', monospace;
}

/*general image resizer in element*/
@mixin autoresize{
    width: 100%;
    height: auto;
}

/*general padding for object*/
@mixin general-padding{
    padding: 10px;
}

/*general centering for div item*/
@mixin general-horizontal-centering{
    margin-left: auto;
    margin-right: auto;
}

/*base box shadowing(lighting) to be used as div container outlines*/
@mixin box-shading{
    box-shadow: 0px 0px 10px $shadowfront, 0px 0px 10px $shadowback;
}

/*general border radius for object*/
@mixin border-main{
    border-radius: 10px;
}

/*left side of an interactive button/object*/
@mixin border-left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*right side of an interactive button/object*/
@mixin border-right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*interactive object changes color when hovered over*/
@mixin interactive{
    color: white;
    background-color: $baseinteractivecolor;
    text-shadow: 0px 0px 10px $shadowfront, 0px 0px 10px $shadowback;
    transition: box-shadow 1s ease;
    &:hover{
        background-color: $oninteractivecolor;
        box-shadow: 0px 0px 25px $shadowfront, 0px 0px 50px $shadowback;
    }
    &:focus{
        background-color: $pressedcolor;
        box-shadow: 0px 0px 15px $pressedcolor, 0px 0px 50px $presseddullercolor;
    }
}

@mixin interactive-nocolorchange{
    color: white;
    background-color: $baseinteractivecolor;
    text-shadow: 0px 0px 10px $shadowfront, 0px 0px 10px $shadowback;
    transition: box-shadow 1s ease;
    &:hover{
        background-color: $oninteractivecolor;
        box-shadow: 0px 0px 25px $shadowfront, 0px 0px 50px $shadowback;
    }
}

@keyframes color-change{
    0% {background: rgb(126, 126, 126);}
    50% {background: rgb(48, 48, 48);}
    100% {background: rgb(126, 126, 126);}
}
