// Styling scss for TextBox.js
@import './Styles.module.scss';

$internal-white: rgba(255, 255, 255, 0.9);

.textbox{
    @include general-padding;
    @include border-main;
    @include general-horizontal-centering;
    @include box-shading;
    max-width: 1024px;
    overflow: auto;
    height: auto;
    background: $background-transparent;
}

.textbox-inside{
    @include general-padding;
    @include border-main;
    @include box-shading;
    background: $internal-white;
    overflow: hidden;
}

.textbox-word-outside{
    @include autoresize;
    margin-bottom: 15px;
    max-height: auto;
}

.textbox-word{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 34px;
}
