// Styling for WordPicker.js
@import './Styles.module.scss';

.word-picker{
    @include general-horizontal-centering;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    height: 450px;
}

.left-word-picker{
    @include autoresize;
    max-width: 300px;
}

.right-word-picker{
    @include autoresize;
    max-width: 300px;
}

.word-column{
    @include general-padding;
    @include general-horizontal-centering;
}

/* in case the screen size gets smaller than 900px (for phones/tablets)*/
@media (max-width: $changelooklarge){
    .word-picker{
        @include general-horizontal-centering;
        display: inline-block;
        max-width: 900px;
        height: auto;
    }

    .left-word-picker{
        height: 480px;
        position: relative;
    }

    /* had to use an extra div due to screen bopping up and down
       during word changes*/
    .left-word-picker-adjuster{
        @include autoresize;
        position: absolute;
        bottom: 0;
    }

    .right-word-picker{
        height: 480px;
    }
}
